# this is a file to ignore certain items for git status/commits

# ignore these folders
_Fireship/
_logs/
_Tech/
_VS Code
newandalus/
SampleP/

# all log files
*.log

# all PDFs
*.pdf

# ignore these Mac OS files
*.DS_Store