/* Reset */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* Main Styling */

html { 
  font-size: 10px;
}

html, body { 
  font-family: urbana,sans-serif;
  }

a { 
  color: #333;
  text-decoration: none;
}

h1, h2, h3 { 
  padding: 0 0 2rem 0;
}

p { 
  margin: 1rem 0;
}

/* Utility Classes */

.container { 
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 2rem;
}

.text-primary { 
  color: #f7c08a;
}

.lead { 
  font-size: 2.5rem;
}

.btn { 
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  background: #333;
  padding: 1.4rem 2rem;
  border: none;
  cursor: pointer;
}

.btn:hover { 
  background-color: #f7c08a;
  color: #333;
}

.btn-light { 
  background: #f4f4f4;
  color: #333;
}

.bg-light { 
  background: #f4f4f4;
  color: #333;
}
.bg-dark { 
  background: #333;
  color: #fff;
}
.bg-primary { 
  background: #f7c08a;
  color: #333;
}

.clr { 
  clear: both;
}

.large-heading { 
  font-size: 4.2rem;
}

/* Font Sizing */

.p20px { 
  font-size: 2rem;
}

/* Padding */
.py-1 { padding: 1rem 0 ; }
.py-2 { padding: 2rem 0 ; }
.py-3 { padding: 3rem 0 ; }

/* Navbar */

#navbar { 
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a { 
  color: #fff;
}

#navbar .logo { 
  float: left;
  padding: 2rem 0 0 0;
}

#navbar ul { 
  list-style: none;
  float: right;
}

#navbar ul li { 
  float: left;
}
#navbar ul li a { 
  display: block;
  padding: 2rem;
  text-align: center;
}
#navbar ul li a:hover, #navbar ul li a.current { 
  background: #444;
  color: #f7c08a;
}

/* Showcase */

#showcase { 
  background: url(../imgs/showcase.jpg) no-repeat center center/cover; 
  height: 600px;
}

#showcase .showcase-content { 
  color: #fff;
  text-align: center;
  padding: 17rem 0 0 0;
}

#showcase .showcase-content h1 { 
  font-size: 6rem;
  line-height: 1.2em;
}
#showcase .showcase-content p { 
  padding: 0 0 2rem 0;
  line-height: 2.5rem;
}

/* Home Info */
#home-info { 
  height: 400px;
}

#home-info .info-img { 
  float: left;
  width: 50%;
  background: url(../imgs/photo-1.jpg) no-repeat;
  min-height: 100%;
}

#home-info .info-content { 
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 5rem 3rem;
  overflow: hidden; 
  /* if anything goes outside of the content, there's no scroll bars */
}

#home-info .info-content h2 { 
  font-size: 3.5rem;
}

#home-info .info-content p { 
  font-size: 2rem;
  padding: 0 0 3rem 0;
}

/* Features */

.box { 
  float: left;
  width: 33.3%;
  padding: 5rem;
  text-align: center;
}

.box h3 { 
  font-size: 3rem;
}

.box p { 
  font-size: 1.5rem;
}

.box i { 
  margin: 0 0 1rem 0;
}

/* About Info */
#about-info .info-right p, #about-info .info-left p { 
  font-size: 2rem;
}

#about-info .info-right { 
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img { 
  display: block;
  margin auto;
  width: 70%; 
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

/* Testimonials */

#testimonials { 
  height: 100%;
  background: url(../imgs/IMG_2365.jpg) no-repeat center center/cover;
  padding: 100px 0 0 0;
}

#testimonials h2 { 
  color: #fff;
  text-align: center;
  padding: 0 0 40px 0;
}

#testimonials .testimonial { 
  padding: 20px;
  margin: 0 0 40px 0;
  border-radius: 5px;
  opacity: .9;
}

#testimonials .testimonial p { 
  font-size: 20px;
}

#testimonials .testimonial img { 
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */

#contact-form .form-group { 
  margin: 0 0 20px 0;
}

#contact-form label { 
  display: block;
  /* this is so it pushes the field to the next line */
  margin: 0 0 5px 0;
  font-size: 20px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea { 
  height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus { 
  outline: none;
  border-color: #f7c08a; 
  /* this changes the color state when clicking into those fields to the orange color vs the default light blue */
}

/* Footer */

#main-footer { 
  text-align: center;
  background: #444;
  color: #fff;
  padding: 2rem;
}

#main-footer p { 
  font-size: 2rem;
}