/* Updated 2020-6-19 */

@import url("https://use.typekit.net/lpf4yky.css");

/* Reset! */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas', Arial;
	height:100%;
	margin: 0;
	width:100%;
	color: #333;
}

h1, h2, h3, h4 {
	font-family: serenity,sans-serif;
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-size: 2.3em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.6em;
	font-style: italic;
}

p, ul, li, dl {
	font-family: nassim-latin,sans-serif;
	font-weight: 400;
	font-style: normal;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #0455BF;
	font-weight: 600;
}

p {
	line-height: 1.25;
	margin-bottom: 15px;
	font-weight: 400;
}

p, li { 
	font-size: 1.4em; 
}

dd {
	font-size: 1.4em;
	font-weight: 500;
	color: #333;
}

li { 
	line-height: 1; 
}

blockquote {
	font-family: 'Andada', serif;
	font-style: italic;
	font-size: 1.4em;
	padding: 15px 30px 15px 30px;
}

/* footer {
	margin: 20px 0 0 0;
	padding: 18px;
	font-family: 'Days One', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
	color: #fff;
	background: #F24405;
	border-radius: 5px;
	
} */

#main-footer { 
	font-family: 'Days One', sans-serif;
	text-transform: uppercase;
	align-items: center;
  text-align: center;
  background: #444;
	color: #fff;
	margin: 1rem 0 2rem 0;
	padding: 1rem;
	color: #fff;
	background: #F24405;
	border-radius: 5px;
}

#main-footer p { 
  font-size: 2rem;
}

ul, ol {
	list-style: none;
}

dt {
	font-family: 'Days One', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	margin: 15px 0 5px 0;
}

dd {
	margin: 0 0 10px 0;
	line-height: 1.25;
}

li {
	margin: 0 0 5px 0;
}

p strong {
	text-decoration: none;
}

#wrapper {
	width: 96%;
	max-width: 920px;
	margin: auto;
	padding: 2%;
}

/* Utilities */

.main-content { 
	margin: 25px 0 0 0;
	/* max-width: 650px; */
}

.main-content h3 { 
	margin: 0 0 1rem 0;
	line-height: 1.3rem;
}

.author-intro p { 
	font-family: nassim-latin, sans-serif;
	font-weight: 400;
	padding: 1rem;
	font-size: 1.3rem;
	text-align: justify;
	background-color: #888;
	color: #f1f1f1;
}

.author-intro a { 
	color: #333
}

.qualifications, .expertise, .pro, .job {
	margin: 20px 0 0 0;
}

.job h2 {
	margin: 0 0 10px 15px;
}

.job h4 {
	font-family: 'Days One', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	color: rgb(251, 2, 22);
	margin: 15px 0 5px 0;
}

.qualifications h1 {
	margin: 0 0 15px 15px;
}

.qualifications img {
	float: left;
	background: #fff;
	padding: 8px;
	margin: 8px 15px 0 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.expertise h2 {
	margin: 0 0 15px 15px;
}

.pro h1 {
	margin: 0 0 15px 15px;
}

.header header {
	margin: 0 0 15px 0;
}

.header dl {
	margin: 20px 0 5px 0;
}

.header dl dd {
	line-height: .75;
}

.header a { 
	font-weight: 500; 
}

.header img { 
	width: 100%;
	margin: 1rem 0 0 0;
}

.indent {
	margin-left: 15px;
}

.jobsummary {
	font-weight: bold;
	text-decoration: underline;
}

.job-skills-tags {
	margin: 20px 0 0 0;
}

.job-skills-tags span {
	position: relative;
	font-size: .75em;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	padding: 3px 9px 3px 12px;
	margin-bottom: 10px;
	margin-right: 10px;
	background: rgb(251, 2, 22);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.job-skills-tags span:hover {
	background: #fff;
	color: rgb(251, 2, 22);
}

.header-box {
	margin: 20px 3px 0 0;
}

.header-box h1 {
	position: relative;
	background: rgb(251, 2, 22);
	color: #fff;
	display: inline-block;
	padding: 5px 12px 5px 12px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.header dd {
	margin: 0 0 15px 0;
}

dd.phone, dd.address, dd.email, dd.git, dd.thegram, dd.twitter, dd.middleground, dd.apple, dd.me2, dd.readinglist {
	padding: 0 0 0 25px;
}

dd.phone {
	background: url(../media/imgs/phone-bk2.png) no-repeat left;
}

dd.address {
	background: url(../media/imgs/googlemaps2.png) no-repeat left;
}

dd.email {
	background: url(../media/imgs/email2.png) no-repeat left;
}

dd.git {
	background: url(../media/imgs/github2.png) no-repeat left;
}

dd.thegram {
	background: url(../media/imgs/instagram2.png) no-repeat left;
}

dd.twitter {
	background: url(../media/imgs/twitter2.png) no-repeat left;
}

dd.middleground {
	background: url(../media/imgs/middle-ground2.png) no-repeat left;
	text-transform: capitalize;
}

dd.apple {
	background: url(../media/imgs/podcast.png) no-repeat left;
}

dd.me2 {
	background: url(../media/imgs/marcmanley-logo-m-5.png) no-repeat left;
}

dd.readinglist { 
	background: url(../media/imgs/readinglist2.png) no-repeat left; 
}

iframe.soundcloud {
	width: 600px;
	height: 450px;
	overflow: auto;
}

/* Media Queries */

@media screen and (max-width: 480px) {

h1 { 
	font-size: 2.5rem;
	line-height: 2rem; 
}

h3 { 
	font-size: 1.8rem;
	line-height: 1.5rem;
}

.header h1 { 
	margin: 1rem 0 0 0;
}

.header p { 
	margin: 1rem 0 0 0;
	line-height: 1.25rem;
}

.main-content { 
	margin: 1rem 0 0 0;
}

.main-content h3 { 
	font-size: 1.6rem;
	margin: 0 0 1rem 0;
	line-height: 1.3rem;
}

.main-content p { 
	font-size: 1.5rem;
}

.author-intro p { 
	padding: 1rem;
	font-size: 1.4rem;
	text-align: justify;
	background-color: #888;
	color: #f1f1f1;
}

#main-footer p { 
  font-size: 1.4rem;
}

#skipTo {
	display: block;
}

header nav, #main, aside {
	float: left;
	clear: left;
	margin: 0 0 10px;
	width: 100%;
}


header nav li {
	margin: 0;
	background: #efefef;
	display: block;
	margin-bottom: 3px;
}

header nav a {
	display: block;
	padding: 10px;
	text-align: center;
}

/* #footer footer {

} */

.saws {
	font-style: none;
}
