:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title"
    "header header"
    "content content"
    "sidebar sidebar"
    "footer footer";
  grid-gap: 1px;
}

.title,
.header,
.sidebar,
.content,
.footer {
  padding: 2em;
  text-align: center;
  color: white;
}

.title {
  grid-area: title;
  background-color: #333;
}
.header {
  grid-area: header;
  background-color: #800000;
}
.sidebar {
  grid-area: sidebar;
  background-color: #8e12f6;
}
.content {
  grid-area: content;
  background-color: #3a45de;
}
.footer {
  grid-area: footer;
  background-color: black;
}

@media screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 450px 450px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". title title ."
      ". header header ."
      ". sidebar content ."
      ". footer footer .";
    grid-gap: 3px;
  }
}

/* .title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-column: 1 / 3; shorthand
} */

/* .title {
  grid-column: 1 / 3;
} */

/* .title {
  grid-column-end: span 1;
  grid-row-end: span 2;
} */

/* .grid div:nth-child(even) {
  background-color: red;
} */
/* .grid div:nth-child(odd) {
  background-color: green;
} */
